language: node_js
node_js:
- 15.0.1
jobs:
  include:
  - stage: test
  script:
  - npm run build
  - npm run test
deploy:
  provider: heroku
  api_key:
    secure: Siqhs8i7FrYKH/jI7N6QJAO23GPfBCEIkQgzqdIiYx+eZeNnqgIay6cHSnIQjcxrN73fAWnMipilZCcmlIROhVbL+gQp6Vhx6PftDUwpiV9NoSM3juMZ6rfFJpZEUEpezkIgQmrD2VYgIZScAqRMthSF6VQQzHN5cV1iZHiXWxd0Q2If85VnQCp8ft3z8R/MrjVoLpDSeCFCEubVi1IdgVUbo2SlFNRgoObmszUpbGdR8obodC3kBDnbufQMN2+rUFKLL6yJ0Ocr6VyHD19j50DBsEkNXHU+0Af0jz98FiPy6TXNOhaDmj44Oa654C3zfsdiB0vWzRz5lXcwufSEueqB9QI8T+zz5JqsP8fAr1eX2ofLJRIumKE1omdZ6139lLghGJIIoc0TNEfK/ZUorTSGI5U2AUkcsos9KS5+1rqGo8s8rQS/ZqLyzl4Dk+HZL7E2wAb33b3IbjSyRly5rz7CKAcnswinN8BVOFXSVwkQn+mPUG2Hnjmsn1Q+IdKVwAyXoRE1QSQ9UbePSQnDf4u51rM2nucLX5erFmNGwaSPvTZ/LnnEE08uMu5xijj6vCqGBKC9WY2ZhrycKxdw8FAvQxmfwDnVp0wgziyvosXoXgLdB/QFeMqfp7+pOwOsCGcgOUI19W3DvowjaACbzbWZnTiwWO25SeGUcYY0vaE=
  app: hackney-council-hr
  on:
    repo: backslashbaker/frontend-hackney-hr
  skip_cleanup: 'true'
