.button-start {
    font-family: "Open Sans";
    width: 250px;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 1.5em;
    border-radius: 4px;
    background: #00664f;
    font-size: 19px;
    font-size: 1.1875rem;
    font-weight: 600;
    line-height: 23px;
    line-height: 1.4375rem;
  }

  .button-start_svg {
    margin-top: 20px;
    margin-left: 20px;
  }