@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #0b0c0c;
  -webkit-font-smoothing: antialiased;
}

section {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 150px;
}
.welcome-text {
  width: 60vw;
}
.button-container {
  width: 370px;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  background: #0b0c0c;
  font-size: 12px;
  text-align: right;
  color: #fff;
  padding: 22px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
